*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* 16 1rem
    24 1.5rem
    32 2rem */

    --font-xxs: .25rem;
    --font-xs: .5rem;
    --font-s: .75rem;
    --font-m: 1rem;
    --font-l: 1.25rem;
    --font-xl: 1.75rem;
    --font-xxl: 2.5rem;
}

body {
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* primary-button */
/* warning-button */
/* accordation */
/* style list */
/* underline table */

div.Grid-Wrapper {
    padding: var(--font-s);

    background-color: rgb(199, 199, 199);
    color:black;

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

div.Grid-Wrapper > .Card {
    border: 2px solid red;
    padding: 12px;
    height: 320px;
    width: 180px;
}

.Card .Sub-Header {
    font-size: var(--font-m);
    line-height: 2em;
    font-weight: bold;
}

.Card .Sub-Description {
    font-size: var(--font-s);
}

.Modal__Open, .Modal__Open form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Modal__Open {
    border: 1px solid red;
    padding: 1rem;
    min-width: 60%;
}

form .Modal__Thumbnail{
    border-radius: 12px;
    object-fit: cover;
    height: 12rem;
    width: 34rem;
}

.Modal__Open .Modal__Header {
    font-size: var(--font-xl);
    margin-bottom: 0.75rem;
}

.Modal__Open label {
    margin-top: .5rem;
    margin-bottom: .25rem;
    font-size: var(--font-m);
}

.Modal__Open input {
    border-radius: 8px;
    border: .01rem solid;
    
    height: 2rem;
}

.Modal__Open input[type="text"], 
.Modal__Open textarea{
    padding: 1rem;
}

.Modal__Open textarea {
    resize: vertical;
    min-height: auto;
}

.Modal__Open input[type="submit"] {
    margin-top: 0.75rem;
}