*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* 16 1rem
    24 1.5rem
    32 2rem */

    --font-xxs: .25rem;
    --font-xs: .5rem;
    --font-s: .75rem;
    --font-m: 1rem;
    --font-l: 1.25rem;
    --font-xl: 1.75rem;
    --font-xxl: 2.5rem;
}

/* primary-button */
/* warning-button */
/* accordation */
/* style list */
/* underline table */

div.Grid-Wrapper {
    padding: var(--font-s);

    background-color: rgb(199, 199, 199);
    color:black;

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

div.Grid-Wrapper > .Card {
    border: 2px solid red;
    padding: 12px;
    height: 320px;
    width: 180px;
}

.Card .Sub-Header {
    font-size: var(--font-m);
    line-height: 2em;
    font-weight: bold;
}

.Card .Sub-Description {
    font-size: var(--font-s);
}